#{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    background-color: #fafafa;
}
header{
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
    
}